.bg-body-tertiary {
	background-color: white !important;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20)
}

@media (max-width: 768px) {
	.bg-body-tertiary {
		background-color: white;
	}
}

.btn-style-one {
	position: relative;
	display: inline-block;
	padding: 10px 72px 10px 30px !important;
	line-height: 24px;
	background: #3241ff;
	color: #ffffff !important;
	font-size: 14px;
	cursor: pointer;
	font-weight: 400;
	border-radius: 50px;
	border: 2px solid #3241ff;
	text-transform: capitalize;
	font-family: 'Muli', sans-serif;
	transition: .2s;
}

.btn-style-one:hover {
	background: none;
	border-color: #3241ff;
	color: #3241ff !important;
	transition: .2s;
}

.btn-style-one .icon {
	position: absolute;
	right: -2px;
	top: -2px;
	color: #ffffff;
	width: 57px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-weight: 400;
	font-size: 16px !important;
	padding-right: 4px;
	background-color: #091394;
	border-radius: 0px 50px 50px 0px;
	padding: 13px;
}

.btn-style-two {
	position: relative;
	display: inline-block;
	padding: 10px 72px 10px 30px;
	line-height: 24px;
	background: #ffffff;
	color: #3241ff;
	font-size: 14px;
	cursor: pointer;
	font-weight: 400;
	border-radius: 50px;
	border: 2px solid #3241ff;
	text-transform: capitalize;
	font-family: 'Muli', sans-serif;
	transition: .2s;
}

.btn-style-two .icon {
	position: absolute;
	right: -2px;
	top: -2px;
	color: white;
	width: 57px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-weight: 400;
	font-size: 16px !important;
	padding-right: 4px;
	background-color: #091394;
	border-radius: 0px 50px 50px 0px;
	padding: 13px;
}

.btn-style-two:hover {
	background: #3241ff;
	color: #ffffff;
	transition: .2s;
}

.btn-packets {
	width: 90%;
	position: relative;
	padding: 15px 72px 15px 30px;
	line-height: 24px;
	background: black;
	color: white;
	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
	font-family: 'Muli', sans-serif;
	transition: .2s;
	border: 0;
}

.btn-packets:hover {
	background: #3241ff;
	color: #ffffff;
	transition: .2s;
}

.btn-packets .icon {
	position: absolute;
	right: 0;
	top: 0;
	color: white;
	width: 57px;
	height: 54px;
	text-align: center;
	font-weight: 400;
	font-size: 16px !important;
	background-color: #01064e;
	padding: 13px;
}

.btn-packets-two {
	color: white;
	background-color: #091394;
}

.bg_4 {
	background-image: url(../public/img/Bg_screen4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/* MENU */

.nav-link, a.active {
	position: relative;
	display: block;
	text-align: center;
	line-height: 30px;
	text-transform: capitalize;
	letter-spacing: 0px;
	opacity: 1;
	font-weight: 600;
	padding: 39px 0px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

@media (max-width: 1140px) {
	.nav-link, a.active {
		color: #222222 !important;
	}
}

.navbar-collapse {
	flex-grow: 0;
}

/* HEADER */
.header-cont {
	background-image: url(../public/img/bg_header.jpg);
	background-repeat: no-repeat;
}

/* .header-cont2 {
	background-image: url(../public/img/header_img.png);
	background-position: top right;
	background-repeat: no-repeat;
} */

@media (max-width: 1140px) {
	.header-cont2 {
		background-image: none;
	}

}

.header-cont3 {
	background-image: url(../public/img/header_com.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 1140px) {
	.header-cont3 {
		background-image: none;
	}

}

.main-header {
	padding: 130px 0px 150px 0px;
}


h2 {
	color: #012068;
	font-size: 50px;
}

.main-header h2 {
	font-size: 65px;
}



h2 span {
	color: #3241ff;
	font-style: italic;
	font-family: 'Playfair Display', serif;
}

h2:after {
	position: absolute;
	left: 0px;
	bottom: 0px;
	content: '';
	width: 50px;
	height: 4px;
	background-color: #012068;
}

.services-section h2:after {
	background-color: white;
}

h2.centered:after {
	left: 50%;
	margin-left: -30px;
}



h4.adv-number {
	color: #3241ff;
	font-size: 50px;
	font-weight: 300;
}

h4.adv-title {
	color: #012068;
	font-weight: 400;
}

p.adv-description {
	color: #2f2f2f;
}


/* FIN HEADER */


/* PLANS */

.plans {
	background-color: #012068;
}

.nk-block {
	display: block;
	width: 100%;
	position: relative;
	z-index: 1;
}

@media (min-width: 992px) {
	.split-lg-left {
		border-radius: 6px 0 0 6px;
	}
}

.bg-theme-alt {
	background-color: #1940b0 !important;
}

.bg-white-7 {
	background-color: rgba(255, 255, 255, 0.07);
}

.bg-white-14 {
	background-color: rgba(255, 255, 255, 0.14);
}

.bg-white-22 {
	background-color: rgba(255, 255, 255, 0.22);
}

.feature-group .feature {
	margin-bottom: 0;
}

@media (min-width: 576px) {
	.boxed {
		padding: 40px 50px;
	}
}

/* FIN PLANS */


/* PLANS 2 */

.services-section {
	position: relative;
	background-image: url(../public/img/Bg_screen2.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.auto-container {
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0 auto;
}

.services-section .services-block {
	padding: 0px;
	float: left;
	z-index: 1;
}

.services-block {
	position: relative;
}

.clearfix {
	margin-top: 100px;
}

.inner-box {
	margin: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0px 30px 0px;
	border-radius: 7px;
	transition: .3s;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 7px 25px rgba(255, 255, 255, 0.25);
}

.inner-box:hover {
	scale: 1.01;
	transition: .3s;
	box-shadow: 0px 7px 25px rgba(255, 255, 255, 0.596);
}

.inner-box-basic {
	margin-top: -20px;
	padding-top: 80px;
}

.hr-plans {
	width: 90%;
	height: 2px;
	background-color: gray;
}


.services-section h2 span {
	color: #3241ff;
	font-style: italic;
	font-family: 'Playfair Display', serif;
}

.inner-box-basic .btn-style-one {
	margin-top: 40px;
}

.icon-box {
	position: relative;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	line-height: 118px;
	margin: 0 auto;
	border-radius: 10px;
	padding: 10px 30px;
	margin-top: -20px;
	display: inline-block;
	margin-bottom: 40px;
	background: linear-gradient(to bottom, #6e6e6e 0%, #04050e 100%);
}

.icon-box h3 {
	font-size: 1.1rem;
	margin-bottom: 0;
}

.inner-box h5 {
	position: relative;
	font-weight: 700;
	line-height: 1.4em;
	margin-bottom: 18px;
	font-size: 38px;
	font-weight: 400;
}

.inner-box h5 a {
	position: relative;
	color: #012068;
	transition: all 500ms ease;
}

.most-popular {
	position: absolute;
	top: -76px;
	left: -59px;
	scale: 0.9;
}

.text {
	position: relative;
	text-align: left;
	font-size: 16px;
	color: #1a1e66;
	line-height: 1.7em;
	margin-bottom: 30px;
}

.text div {
	margin-top: 15px;
}

.icon-list {
	margin-top: -5px;
	margin-right: 5px;
	color: #012068;
}


/* FIN PLANS 2 */


/* CONTACT */

.contact {
	background-image: url(../public/img/Bg_screen3.png);
	background-size: cover;
	padding: 90px 0px 90px 0px;
}

.contact h2 {
	color: #ffffff;
}

.contact h2 span {
	color: #3241ff;
	font-style: italic;
	font-family: 'Playfair Display', serif;
}

.contact h2:after {
	position: absolute;
	left: 0px;
	bottom: 0px;
	content: '';
	width: 50px;
	height: 4px;
	background-color: #ffffff;
}

.form-group input, .form-group select {
	position: relative;
	display: block;
	width: 100%;
	line-height: 28px;
	padding: 10px 20px;
	color: #333333;
	height: 50px;
	font-size: 20px;
	background: #ffffff;
	border: none;
	border-radius: 0px;
	border-bottom: solid 1px #adadad;
}

.form-group input:focus, .form-group select:focus {
	border-color: #1940b0;
	box-shadow: none;
}


/* FOOTER */


.footer-bottom {
	position: relative;
	padding: 18px 0px;
	background-color: #020f2f;
}


.footer-bottom .social-column {
	position: relative;
	text-align: right;
}

.footer-bottom .social-column ul li {
	position: relative;
	margin-left: 8px;
	display: inline-block;
}

.footer-bottom .social-column ul li a {
	position: relative;
	color: #ffffff;
	font-size: 16px;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}


/* CALCULATOR */

.calc-section {
	padding: 150px 0;
}

.calculator {
	width: 100%;
	border-radius: 40px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.30);
	padding: 40px 20px;
	background-color: white;
}

.calc-type {
	border: solid 1px #d6d6d6;
	padding: 10px 40px;
	border-radius: 30px;
}

.calc-type-active {
	background-color: #1940b0;
	color: white;
}

.range-c1 {
	accent-color: #1940b0;
	background-color: #1940b0;
}

.range-c2 {
	accent-color: #aa34e6;
	background-color: #aa34e6;
}

.range-c3 {
	accent-color: black;
	background-color: black;
}

.txt-range {
	width: 50%;
	text-align: center;
}

.txt-range h3 {
	font-size: 45px;
	font-weight: 300;
}

.txt-range p {
	font-size: 20px;
}

.txt-range span {
	color: gray;
	font-size: 20px;
}



/* ABOUT US */

.image-2 {
	position: absolute;
	right: 0px;
	top: 80px;
	opacity: 0.6;
	z-index: -1;
}


/* MODAL */

.modal-content {
	border-radius: 30px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.60);

}

.modal-body {
	padding: 40px 50px;
}

.modal-body h3 {
	font-size: 40px;
	margin-bottom: 30px;
}

.hr-vertical{
	border: 0;
	width: 1px;
	height: 100%;
	background-color: gray;
	padding: 0;
}