.bg-body-tertiary {
	background-color: rgba(255, 255, 255, 0) !important;
}

@media (max-width: 768px) {
	.bg-body-tertiary {
		background-color: white;
	}
}

.btn-style-one {
	position: relative;
	display: inline-block;
	padding: 10px 72px 10px 30px;
	line-height: 24px;
	background: #3241ff;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
	font-weight: 400;
	border-radius: 50px;
	border: 2px solid #3241ff;
	text-transform: capitalize;
	font-family: 'Muli', sans-serif;
	transition: .2s;
}

.btn-style-one:hover {
	background: none;
	border-color: #3241ff;
	color: #3241ff;
	transition: .2s;
}

.btn-style-one .icon {
	position: absolute;
	right: -2px;
	top: -2px;
	color: #ffffff;
	width: 57px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-weight: 400;
	font-size: 16px !important;
	padding-right: 4px;
	background-color: #091394;
	border-radius: 0px 50px 50px 0px;
	padding: 13px;
}

.btn-style-two {
	position: relative;
	display: inline-block;
	padding: 10px 72px 10px 30px;
	line-height: 24px;
	background: #ffffff;
	color: #3241ff;
	font-size: 14px;
	cursor: pointer;
	font-weight: 400;
	border-radius: 50px;
	border: 2px solid #3241ff;
	text-transform: capitalize;
	font-family: 'Muli', sans-serif;
	transition: .2s;
}

.btn-style-two .icon {
	position: absolute;
	right: -2px;
	top: -2px;
	color: white;
	width: 57px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-weight: 400;
	font-size: 16px !important;
	padding-right: 4px;
	background-color: #091394;
	border-radius: 0px 50px 50px 0px;
	padding: 13px;
}

.btn-style-two:hover {
	background: none;
	border-color: #ffffff;
	color: #ffffff;
	transition: .2s;
}

/* MENU */

.nav-link, a.active {
	position: relative;
	display: block;
	color: #ffffff !important;
	text-align: center;
	line-height: 30px;
	text-transform: capitalize;
	letter-spacing: 0px;
	opacity: 1;
	font-weight: 600;
	padding: 39px 0px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

@media (max-width: 1140px) {
	.nav-link, a.active {
		color: #222222 !important;
	}
}

.navbar-collapse {
	flex-grow: 0;
}

/* HEADER */
.header-cont {
	background-image: url(../public/img/bg_header.jpg);
	background-repeat: no-repeat;
}

.header-cont2 {
	background-image: url(../public/img/header_img.png);
	background-position: top right;
	background-repeat: no-repeat;
}

@media (max-width: 1140px) {
	.header-cont2 {
		background-image: none;
	}

}

.main-header {
	padding: 250px 0px 180px 0px;
}

.main-header h2 {
	color: #012068;
}

.calc-section h2 {
	color: white;
}

.main-header h2 span,
.calc-section h2 span {
	color: #3241ff;
	font-style: italic;
	font-family: 'Playfair Display', serif;
}

.main-header h2:after,
.calc-section h2:after {
	position: absolute;
	left: 0px;
	bottom: 0px;
	content: '';
	width: 50px;
	height: 4px;
	background-color: #012068;
}

.calc-section h2:after {
	background-color: white;
}

h4.adv-number {
	color: #3241ff;
	font-size: 50px;
	font-weight: 300;
}

h4.adv-title {
	color: #012068;
	font-weight: 400;
}

p.adv-description {
	color: #2f2f2f;
}


/* FIN HEADER */


/* PLANS */

.plans {
	background-color: #012068;
}

.nk-block {
	display: block;
	width: 100%;
	position: relative;
	z-index: 1;
}

@media (min-width: 992px) {
	.split-lg-left {
		border-radius: 6px 0 0 6px;
	}
}

.bg-theme-alt {
	background-color: #1940b0 !important;
}

.bg-white-7 {
	background-color: rgba(255, 255, 255, 0.07);
}

.bg-white-14 {
	background-color: rgba(255, 255, 255, 0.14);
}

.bg-white-22 {
	background-color: rgba(255, 255, 255, 0.22);
}

.feature-group .feature {
	margin-bottom: 0;
}

@media (min-width: 576px) {
	.boxed {
		padding: 40px 50px;
	}
}

/* FIN PLANS */


/* PLANS 2 */

.services-section {
	position: relative;
}

.auto-container {
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0 auto;
}

.services-section .services-block {
	padding: 0px;
	float: left;
	z-index: 1;
}

.services-block {
	position: relative;
}

.clearfix {
	margin-top: 100px;
}

.inner-box {
	margin: 10px;
	/* box-shadow: 6px 6px 16px rgba(66, 68, 90, .2); */
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 50px 60px;
	background: -ms-linear-gradient(left, #EAEAED 0%, #ffffff 100%);
	background: -moz-linear-gradient(left, #EAEAED 0%, #ffffff 100%);
	background: -o-linear-gradient(left, #EAEAED 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #EAEAED), color-stop(100, #ffffff));
	background: -webkit-linear-gradient(left, #EAEAED 0%, #ffffff 100%);
	background: linear-gradient(to right, #EAEAED 0%, #ffffff 100%);
	border-radius: 7px;
	transition: .3s;

	/* borde degradado */
	border: 2px solid transparent;
	border-image: linear-gradient(to bottom right, #ffffff 0%, #d3d3d3 100%);
	border-image-slice: 1;
}

.inner-box:hover {
	scale: 1.03;
	transition: .3s;
}

.inner-box-basic {
	border: 2px solid transparent;
	border-image: linear-gradient(to bottom right, #969cee 0%, #cccffa 50%, #0b1599 100%);
	border-image-slice: 1;
	padding: 0px 70px 90px;
	margin-top: -20px;
}

.hr-plans {
	width: 90%;
	height: 2px;
	background-color: gray;
}


.services-section h2 span {
	color: #3241ff;
	font-style: italic;
	font-family: 'Playfair Display', serif;
}

.inner-box-basic .btn-style-one {
	margin-top: 40px;
}

.icon-box {
	position: relative;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	line-height: 118px;
	margin: 0 auto;
	border-radius: 10px;
	padding: 10px 30px;
	margin-top: -20px;
	display: inline-block;
	margin-bottom: 40px;
	background: -ms-linear-gradient(top, #3140FC 0%, #0b1599 100%);
	background: -moz-linear-gradient(top, #3140FC 0%, #0b1599 100%);
	background: -o-linear-gradient(top, #3140FC 0%, #0b1599 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3140FC), color-stop(100, #0b1599));
	background: -webkit-linear-gradient(top, #3140FC 0%, #0b1599 100%);
	background: linear-gradient(to bottom, #3140FC 0%, #0b1599 100%);
}

.icon-box h3 {
	font-size: 1.1rem;
	margin-bottom: 0;
}

.inner-box h5 {
	position: relative;
	font-weight: 700;
	line-height: 1.4em;
	margin-bottom: 18px;
	font-size: 27px;
}

.inner-box h5 a {
	position: relative;
	color: #012068;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}

.text {
	position: relative;
	text-align: left;
	font-size: 16px;
	color: #1a1e66;
	line-height: 1.7em;
	margin-bottom: 30px;
}

.icon-list {
	margin-top: -5px;
	margin-right: 5px;
	color: green;
}


/* FIN PLANS 2 */


/* CONTACT */

.contact {
	background-image: url(../public/img/Bg_screen3.png);
	background-size: cover;
	padding: 90px 0px 90px 0px;
}

.contact h2 {
	color: #ffffff;
}

.contact h2 span {
	color: #3241ff;
	font-style: italic;
	font-family: 'Playfair Display', serif;
}

.contact h2:after {
	position: absolute;
	left: 0px;
	bottom: 0px;
	content: '';
	width: 50px;
	height: 4px;
	background-color: #ffffff;
}

.form-group input, .form-group select {
	position: relative;
	display: block;
	width: 100%;
	line-height: 28px;
	padding: 10px 20px;
	color: #333333;
	height: 50px;
	font-size: 15px;
	border-radius: 4px;
	background: #ffffff;
	border-color: #adadad;
}

.form-group input:focus, .form-group select:focus {
	border-color: #1940b0;
	box-shadow: none;
}


/* FOOTER */


.footer-bottom {
	position: relative;
	padding: 18px 0px;
	background-color: #020f2f;
}


.footer-bottom .social-column {
	position: relative;
	text-align: right;
}

.footer-bottom .social-column ul li {
	position: relative;
	margin-left: 8px;
	display: inline-block;
}

.footer-bottom .social-column ul li a {
	position: relative;
	color: #ffffff;
	font-size: 16px;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}


/* CALCULATOR */

.calc-section {
	margin: 150px 0 0;
}

.calculator {
	width: 100%;
	border-radius: 40px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.60);
	padding: 40px 20px;
	background-color: white;
}